:root {
  /*Colours list: */
  --primary: #f76414;
  --background-black: #191a1a;
  --white-ton: #f4f8f8;
}

body {
  /* background: linear-gradient(45deg, bisque, transparent); */
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-thinner);
  font-size: var(--font-size-body);
  /* Sets the font size to 16px */
  line-height: 1.6;
  background-color: var(--background-black);
  color: #f4f8f8;
  /* Sets the line-height to 1.6 */
}

a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
p{
    color:#f4f8f8
}

a:visited {
  /* visited link */
  color: var(--primary);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: white;
}

a:active {
  /* selected link */
  color: var(--active-link-color);
}

.page_content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
}

img, picture {
    max-width: 115%;
    display: block;
}
.credit{
  color: #f40591;
  text-decoration: underline;
  text-transform: uppercase;
}

#study {
    padding-top: 90px;
}

.case-study__content-wrapper {
    max-width: 1084px;
    margin: 0 auto;
    display: grid;
    gap: 4rem;
}

.case-study__list {
    display: grid;
    grid-auto-columns: 1fr;
    text-align: justify;
    gap: 4rem;
}

.case-study__list-item {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20px;
}

.yellowing {
  color: var(--primary);
}

.social-item a{
    color: aqua;
}

.title_subtitle_center {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.case-study__text-wrapper {
  text-align: center;
  gap: 20px;
  display: grid;
}

.case-study__image {
    border-radius: 20px;
    border: 1px solid rgb(83, 40, 155);
    padding: 4px;
    box-shadow: 2.6px 2.5px 11px rgb(250, 249, 251);
}
.section-title {
    font-size: 28px;
    font-weight: 300;
    color: #f40591;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0px;
    
}
#credit{
  display:inline;
  margin: 0;
  letter-spacing: 1px;
  line-height: 0.10;
  margin-top: 50%;
}

.section-title2 {
    font-size: 3rem;
    font-weight: 300;
    color: #474973;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-shadow: 3rem;
    border: 30px solid #fdfcfc;
    background-color: palevioletred;
    border-radius: 25px;
    bottom: 10px;
    margin-top: -35px;
    box-shadow: 2.6px 2.5px 11px rgb(42, 19, 66);
    border-color: #ff00ee rgb(57,255,12) hwb(184 22% 1%) orangered;
    
}
.section-title3 {
     font-size: 30px;
    font-weight: 350;
    color: #f40591;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0px;
}

.text_image_wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: -90px;
    padding-top: 90px;
    display: flex;
}

.text_wrapper {
    text-align: center;
    gap: 20px;
    display: grid;
}

@media only screen and (min-width: 1232px) {
  .section_wrapper {
    padding: 0;
  }
}

@media all and (min-width: 781px) {
    .case-study__list-item {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 2fr 1fr;
        gap: 80px;
    }

    .case-study__list-item:nth-child(2n) {
        grid-template-columns: 1fr 2fr;
    }

    .case-study__list-item:nth-child(2n)>.case-study__text-wrapper {
        grid-column: 2;
    }

    .case-study__list-item:nth-child(2n)>.case-study__image-wrapper {
        grid-column: 1;
    }

    .case-study__text-wrapper {
        text-align: unset;
    }

    .text_image_wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 80px;
    }

    .text_wrapper {
        text-align: unset;
    }

    .text_image_wrapper_2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-flow: dense;
        gap: 80px;
    }

    .text_image_wrapper_2>.text_wrapper {
        grid-column: 2;
    }

    .text_image_wrapper_2>.image_organize_wrapper_2 {
        grid-column: 1;
    }
}
}
