
:root {
  --primary-color: #357b70;
  --secondary-color: #021b79;
  --dark-grey: #2b2b2b;
  --text-color:#000;
  --background-color: #F8F8FF;
  --header-color: #4B0082;
  --footer-color:#fff;
  --link-color: #184a42;
  --link-color-visited:#00e1ff;
  --primary-font: 'Lato', sans-serif; 
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 900;
  --font-size-h1: 40px;
  --font-size-h1-small-screen: 22px;
  --font-size-h2: 22px;
  --font-size-h2-small-screen: 18px;
  --font-size-body: 18px;
  --font-size-body-small-screen: 12px;
  --font-color: #555;
  --font-hover-color:orange;

}

a {
  color: var(--primary-color);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  /* Sets the font size to 16px */
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--text-color);
  background-image: url(../img/blank.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0px;
}
#banner{
  width: 100%;
  height: auto;
  margin: 0px auto;
  overflow: hidden;
  background: url(../img/blank.jpeg) repeat;
  animation: background_image linear 10s infinite;
  background-size: cover;
}

/* START OF Text styling */
h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
}

h2 {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h2);
}
p {
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
  /* END OF Text styling */
a:visited {
  color: #00e1ff;
}

a:hover, a:focus {
  /* No underlining when hovering over a link, color orange */
  color: var(--primary-color);
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--secondary-color);
}

/*START OF Header styling*/
.page-header {
  display: flex;
  width: 100%;
  padding: 8px 10px 0px 10px;
  background-color: var(--header-color);
}
.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;

}
.page-header__logo {
  width: 48px;
  display:inline-block;

}
.page-header__item{
  float: left;
  display: block;
  margin-left: auto;
  width:250px;
  height: 50px;
  height: auto;

}

/*this is the sTART Of navigation styling #### */
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.navigation-list li a.navigation-list__item {
  text-decoration: none;
  color: #fff;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;

}

.navigation-list li a.navigation-list__item--active {
  text-decoration: none;
  color: orange;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  /*End of navigation styling*/
}

/* Navigation Animation */
.navigation-list li a:before, 
.navigation-list li a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.navigation-list li a:before {
  top: 0px;
  transform: translateY(10px);
}

.navigation-list li a:after {
    
  transform: translateY(-0px);
}

.navigation-list li a:hover:before 
.navigation-list li a:hover:after {
  opacity: 1;
  transform: translateY(10px);

}
/*styleing profile*/
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}
.profile__portrait {
  float: left;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
  margin-top: 40px;
  padding: 20px;
}

/* #### START OF Button styling #### */
button, .button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--link-color);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover, button:focus, 
.button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a.button {
  color: var(--link-color-);
}

textarea {
  resize:none;
}
/* end of button styling */

/* page footer styling */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  float: center;
  z-index: -999999
}
/* styling social media */
.social-media__item {
  transition: transform 0.5s;
}

.social-media__item:hover {
  transform: scale(1.2);
}

.content{
  min-height: calc(100vh - 80px);
}
/* text styly for the social media links*/
.p__italic {
  font-style: italic;
}

.p__highlight {
  color:var(--secondary-color);
  font-weight: var(--font-weight-regular);

}
/* #### START OF Project List styling #### */
@supports (display: grid) {
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
}

.project-list__item {
    padding: 10px;
    width: auto;
    min-height: auto;
    margin: 0;
  }

/* this is the beggining of styling of all forms*/
.form-container{
  background: #627b8a;
  padding: 30px

}
.form-group{
  margin-bottom:1.5em;
  transition:all .3s;
}
.form-label{
  font-size:.75em;
  color:var(--font-color);
  display:block;
  opacity:0;
  transition: all .3s;
  transform:translateX(-50px);
}
.form-control{
  box-shadow:none;
  border-radius:0;
  border-color:#ccc;
  border-style:none none solid none;
  width:100%;
  font-size:1.25em;
  transition:all .6s;
}
.form-control::placeholder {
  color:#aaa;
}
.form-control:focus{
  box-shadow:none;
  border-color:var(--font-hover-color);
  outline:none;
}
.form-group:focus-within {
  transform:scale(1.1,1.1);
}

.form-control:invalid:focus {
  border-color:red;
}
.form-control:valid:focus {
  border-color:green;
}


.focused > .form-label{
  opacity:1;
  transform:translateX(0px);
}
.information_Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 700px;
  /*end of all forms styling*/
}
 .experience{
   text-align: center;

 }

/*working with grid styliing*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 25px;
  width: 92.5%;
  margin: 0 auto;
}

.grid__item {
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 0.35rem;
  box-shadow: 0.5px 0.5px 10px rgb(22 2 94);
}

.grid__item {
  height: 550px;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.35rem;
  cursor: pointer;
  width:auto;
}
.grid__item:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.container-fluid {
  width: 100%;
}
.img {
 height: 100px;
 width: 450px;
 min-height: 200px;
 border-radius: 0.35rem;
 box-shadow: 0.5px 0.5px 10px rgb(22 2 94);
}

.container{
  width: 1140px;
  display: block;
  margin: 0 auto;

}

#about-picture{
  width: 600px;
}

.berlin-picture__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.information_Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
}

/*styling table for work experince and*/
th, td {
  margin:10px;
  padding: 10px;
  border: 1px solid blue;
}

.skills-table__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.article {
  max-width: 700px;
  margin: 0 auto;
  text-align:center;
  list-style-type: none;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background: var(--header-color);
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: rgb(122, 128, 0);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }

  @media (max-width: 858px){
    .checkbtn {
      display: block;
    }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  /* beggining of Berlin animation styling*/
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
/* End of Berlin animation styling*/
}

@keyframes background_image {
  from {background-position: 0px;}
  to {background-position: -300px;}
}

/* #### START OF Project List styling #### */
@supports (display: grid) {
  .grid, .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .profile__portrait {
    margin-right: 30px;
    border-radius: 50%;
    margin-top: 40px;
    width: 158px;
    padding-left: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0;
  }
}
  
