@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

:root {
  --primary-color: #357b70;
  --secondary-color:#a69cac;
  --dark-grey: #2b2b2b;
  --text-color:#000000;
  --background-color: #F8F8FF;
  --footer-color:#fff;
  --link-color:#00e1ff;
  --link-color-visited:#00e1ff;
  --primary-font: 'Lato', sans-serif; 
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 900;
  --font-size-h1: 40px;
  --font-size-h1-small-screen: 22px;
  --font-size-h2: 22px;
  --font-size-h2-small-screen: 18px;
  --font-size-body: 18px;
  --font-size-body-small-screen: 12px;
  --font-color: #555;
  --font-hover-color:orange;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: hsl(240, 33%, 98%);
    line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #a69cac;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* START OF Text styling */
h1 {
  font-weight: var(--font-weight-bold);

}
.logo {
  color:hsl(240, 75%, 2%);
  justify-content: center;
  top: 6px;
  font-style: italic;
  bottom: 2px;
  font-size: 45px;
  border: 3px solid #00eeff;
  border-radius: 100%;
  height: 60px;
  width: 80px;
  border-top: 110px;
  border-bottom: 110px;
  background-color:#00fffb;
  margin: 10 0px;
  position: absolute;
}

h2 {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h2);
}

p {
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

  /* END OF Text styling */
a:visited {
  color: #00e1ff;
}

a:hover, a:focus {
  /* No underlining when hovering over a link, color orange */
  color: var(--primary-color);
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--secondary-color);
}

/*START OF Header styling*/
.page-header {
  display: flex;
  width: 100%;
  padding: 8px 10px 0px 10px;
  background-color: var(--header-color);
}

/*Navbar*/
 .navbar {
  flex: 0 1 200px;
}

.navbar:last-child {
  flex-grow: 1;
  text-align: right;
}

.navbar {
  float: left;
  display: block;
  margin-left: auto;
  width:250px;
  height: 50px;
  height: auto;

}

.navbar a {
  color: #faf9fb;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #474973 2px solid;
  border-top: #00eeff;
}

.navbar ul li {
  display: inline-block;
  margin-left: 40px;
}


/*styleing profile*/
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
  margin-top: 40px;
  padding: 20px;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #474973;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title2 {
  font-size: 4rem;
  font-weight: 300;
  color: #474973;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 3rem;
}
.section-title span {
  color: #fff;
}

.section-title2 span {
  color: #fff;
}
.section-title {
margin: 0%;
}

.section-title2 {
margin: 0%;

}

.text2{
  color: #fff;
}

.ptex {
    color: #F8F8FF;
    text-transform: capitalize;
    text-size-adjust: 2px;
    font-style: italic;
    text-align: left;
}
#about{
  background-color: #199eea;
  margin: 0px;
}

#about .col-left {
  width: 300px;
  height: auto;
}

#about .col-right {
  align-items: center;
  justify-content: center;
}

#about .col-right h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

/* #### START OF Button styling #### */
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #F8F8FF;
  color:#00e1ff;
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  height: 30%;
  border-radius: 30px;
  border: 2px solid gray;
  transition: 0.2s opacity;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

.button1 {
  border: none;
  display: inline-block;
  font-family: inherit;
  color: #00e1ff;
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  padding: 10px;
  background-color: #474973;
  margin: 5px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);

}
.fab {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  align-items: center;
  color: aliceblue;
  top: 13px;
  position: relative;
}
.button2 {
  display: inline-block;
  align-items: center;
  color: aliceblue;
}

.button1:hover {
  background-color: #a69cac;
  color: orange;
}

.button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a.button {
  color: var(--link-color-);
}
.button:hover {
  background-color: orange;
  color: #474973;
}
textarea {
  resize:none;
}

.wwe {
  text-shadow: transparent;
  font-style: #00e1ff;
  font-style:italic;
}

.skt-content h1 {
    font-weight: 34px; 
    line-height: 0.1;
}
/* end of button styling */

/* page footer styling */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  float: center;
  z-index: -999999
}
/* styling social media */
.social-media__item {
  transition: transform 0.5s;
}

.social-media__item:hover {
  transform: scale(1.2);
}

/* text styly for the social media links*/
.p__italic {
  font-style: italic;
  color: aliceblue;
}

.p__highlight {
  color:var(--secondary-color);
  font-weight: var(--font-weight-regular);

}

/* #### START OF Project List styling #### */
@supports (display: grid) {
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
}

.project-list__item {
    padding: 10px;
    width: auto;
    min-height: auto;
    margin: 0;
  }

/* this is the beggining of styling of all forms*/

.information_Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 700px;
  /*end of all forms styling*/
}
 .experience .section-title {
   text-align: center;

 }
 .content{
  min-height: calc(100vh - 80px);
}

 .content2 {
  background-color: slateblue;

 }

/*working with grid styliing*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 25px;
  width: 92.5%;
  margin: 0 auto;
}

.grid__item {
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 0.35rem;
  box-shadow: 0.5px 0.5px 10px rgb(22 2 94);
}

.grid__item {
  height: 610px;
  padding: 10px;
  top: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.35rem;
  cursor: pointer;
  width:auto;
}
.grid__item:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.img {
 height: 100px;
 width: 450px;
 min-height: 200px;
 border-radius: 0.35rem;
 box-shadow: 0.5px 0.5px 10px rgb(22 2 94);

}

.container {
  width: 1140px;
  display: block;
  margin: 0 auto;
}

#about-picture {
  width: 600px;
}

.berlin-picture__container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*styling table for work experince and*/
th, td {
  margin:10px;
  padding: 10px;
  border: 1px solid black;
}

.skills-table__container {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.article {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  
}

.text {
  color: rgb(0, 4, 128);
  font-family: Arial;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.style {
  background-color: #4b0082;
  position:fixed; 
  width: 100%;
  height: 70px;
  top: 0;padding:
  0 30px;
  display: flex;
  transition: 0.5s;
}

/*this is the sTART Of navigation styling #### */
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.active li a.navigation-list__item {
  text-decoration: none;
  color: #fff;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;

}

.navigation-list__item li a.active {
  text-decoration: none;
  color: orange;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  /*End of navigation styling*/
}

/* Navigation Animation */
.active li a:before, 
.active li a:after {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161b33;
  color: #a69cac;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  top: 0;
  padding: 0 30px;
  transition: 0.5s;
}

.active li a:before {
  top: 0px;
  transform: translateY(10px);
}

.active li a:after {
    
  transform: translateY(-0px);
}

.active li a:hover:before 
.active li a:hover:after {
  opacity: 1;
  transform: translateY(10px);

}

.nav {
  background: var(--header-color);
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover {
  transition: .5s;
}
#contact {
  background-color:#0d0c1d;
  height:100vh;
}

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 50px auto;
}

#contact .contact-items {
  width: 400px;
  padding: 20px;
}

#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #a69cac;
  transition: 0.3s ease box-shadow;
  background-color:rgb(122, 122, 157);
}   

#contact .contact-item:hover {
  box-shadow: 0px 0px 10px 0 smore white;
  transform: scale(1.05);
  transition: 0.5s ease;
  cursor: default;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

#contact .contact-info a:hover {
  color: #474973;
}

/*End Contact section*/


/* mani footer styling*/
#footer {
  background-color: #161b33;
  opacity: 0.8;
  width: 100%;
  clear: both;
}
.footer.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .footer {
  min-height: 150px;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 15px;
  bottom: 0;
  justify-items: center;
  
}

#footer h1 {
  font-size: 20px;
}

#footer h2 {
  color: #a69cac;
  font-weight: 300;
  font-size: 12px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 10px;
}

#footer .social-item {
  margin: 0 5px;
  padding-top: 10px;
}

.social-item i:hover {
  color: #474973;
}
/*End Footer*/

.skt-content  h1 {
    font-style: italic;
    font-size: 60px;
    text-shadow: hwb(179 9% 3%);
    color: hwb(179 9% 3%);
    font-weight: 600;
    text-transform: uppercase;
}

.img-container {
  height: 100vh;
  background: url("../img/imgmt.png") no-repeat center center/cover;
  position: relative;
}

.img-container::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(6, 0, 20, 0.488);
}

.img-container * {
  z-index: 10;
}

.skt-content p {
    font-size: 30px;
    font-weight: 600;
    text-shadow: -2.5px 2.5px 3px #474973;
    text-transform: uppercase;
}
.skt-content  {
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding: 0 20px;
}

.btn {
  text-decoration: none;
  max-width: fit-content;
  color:#00e1ff;
  font-weight: 350;
  background-color: #474973;
  border-radius: 20px;
  margin-top: 20px;
  padding: 5px 20px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.btn:hover {
  background-color: #a69cac;
  color: #474973;
}

.contact-item:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #a69cac;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/*media queries*/
@media all and (min-width: 750px) {
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 500px;
  }
  #about .col-right {
    text-align: left;
    padding: 20px;
  }
  #about .col-right h1 {
    text-align: left;
  }
}
@media all and (min-width: 900px) {
  #contact .contact {
    flex-direction: column;
    padding: 90px 0;
    align-items: center;
    justify-content: center;
    min-height: 675px;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
  }
  #contact .contact-item {
    margin: 20px;
    flex-direction: row;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}

}

/*media queries ends*/




